.galleryname {
    width: 170px;
    height: auto;
    float: left;
    margin: 20px
}
.img {
    /* margin-top: 20px; */
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%; */
    /* margin: 20px; */
    margin-bottom: 30px;
    margin-top: -40px;
  

}
nav{
    /* margin-left: 100px; */
    float: right;
    font-family: 'Cormorant Garamond', serif;
    margin-right: 20px;
}
.navi{
    font-family: 'Cormorant Garamond', serif;
}
body{
    font-family: 'Cormorant Garamond', serif;
}


@media screen and (max-width:768px){
    .uk-navbar-left{
        display: block;
        width: 100%;
    }
    .uk-navbar-item{ display: inline; }
    
    .uk-navbar-nav{ display:block; }
    .navbar-collapse{ width:100%; }
    .uk-navbar-nav li{
        display: block;
        padding: 10px;
        height: 40px;
        border-bottom: 1px solid #ddd;
    }
    .uk-navbar-nav li a{
        display: block;
        width: 80%;
        padding: 0.5rem 1rem;
    }
}