<br>
<div class="uk-card uk-card-medium uk-card-default" id="aboutcard">
     <div id="story">Our Story </div><br>From jagged cave walls to grand vaulted ceilings, the canvas of art is ever
     evolving. Esthéte gallery aims to be the canvas for all canvases - where viewing and organizing art is no longer
     geographical, but abstract..
     In 1996, Bob Ross established Esthete in the Flat Iron Building in Houston, Texas. In May 2000, the gallery moved
     across the street to its current location at 3432 N. Monet Avenue. Over the past 19 years, Esthete Gallery has
     established itself as a launching pad for Houston artists in all media including painting, sculpture, photography,
     film, and digital art.
     Esthete has monthly exhibitions as well as various video and film programs on a regular basis. Some of the featured
     artists include Sean Wilson, Nina Worku, Haimanot Temesgen, Aster Wokineh, Welde Kirkos, Kalkidan Mulat, Worku
     Abebe, Monika Fine, and many others.
     Early Heaven musical performances include Miles Davis, Antonio Vivaldi, and Abel Tesfaye. In 2011, the organization
     added a small vintage shop to the front of the gallery to help fund the program. Since opening the shop, our
     outreach has expanded to a whole new audience with hundreds of people visiting every weekend.

</div>