
    <div class="uk-inline uk-margin .uk-width-1-1">
            <div class="uk-background-image@s"><img src="../images/maningallery.jpg" alt="" class="img"></div>



            <div class="uk-position-top uk-overlay uk-overlay-default uk-text-center img"></div>
            <div class="uk-position-bottom uk-overlay uk-overlay-default uk-text-center img"></div>
            <div class="uk-position-left uk-overlay uk-overlay-default uk-flex uk-flex-middle img"></div>
            <div class="uk-position-right uk-overlay uk-overlay-default uk-flex uk-flex-middle img"></div>

    </div>
