.galleryname {
    width: 200px;
    height: auto;
    float: left;
    margin: 20px;
    
    
}
.img{
    margin-top: -40px;
}
nav{
    float: right;
    font-family: 'Cormorant Garamond', serif;
    margin-right: 20px;
}
.navi{
    font-family: 'Cormorant Garamond', serif;
}
body{
    font-family: 'Cormorant Garamond', serif;
}
.form{
    text-align: center;
    box-align: center;
    margin-top: 100px;
    margin-left: 2px;
    
    margin-top: 20%;
    
}
.formtwo{
    text-align: center;
    box-align: center;
    margin-top: 100px;
    margin-left: 2px;
    
    margin-top: 20%;
    
    
}
.uk-card-title{
    font-family: 'Cormorant Garamond', serif;
    color: gray;
}
.uk-button{
    color: gray;
    
}
.uk-text-center{
    width: 100%;
}
.uk-card{
    clear: both;
    margin-left: 20%;
    margin-right: 20%;
}
#upload{
    clear: both;
}
#upcoming{
    font-family: 'Cormorant Garamond', serif;
    color: gray;
    clear: both;
    text-align: center;
}
.events{
    font-family: 'Cormorant Garamond', serif;

}
#navi{
    display: inline;
}
#sidebar{
    display: none;
}
#sidebartoggle{
    display: none;
}
#sidenav{
    text-align: center;
    
}
#sidenavlist{
    margin-top: 50px;
}
#stylelist{
    margin-left: 30px;
}

#upload_widget {
    color: #666;
    background-color: white;
    padding: initial;
}
#upload_widget:hover {
    transition: all .3s ease-in-out;
    color: white;
    background-color: #666;
}
#selected-style {
    font-family: 'Cormorant Garamond', serif;
    color: gray;
    margin-left: 55px;
}
hr {
    margin-left: 55px;
    margin-right: 55px;
    color: gray;
    text-decoration-thickness: 5px;
}
ul#horizontal-list li {
    display: inline;
}
#exhibition{
    clear: both;
}
#about{
    font-size: larger;
   
}
#aboutcard{
    margin-top: 30px;
}
#story{
text-align: center;
font-size: 32px;
}


@media screen and (max-width: 1000px) {
    #navi{
        display: none;
    }
    #sidebar{
        display: inline;
    }
    #sidebartoggle{
        display: inline;
        margin: 30px;
    }
}
@media screen and (max-width: 414px) {
    .galleryname {
        width: 100px;
    }
    .boarder{
        display: none;
    }
    .img{
        margin-top: -80px;
        height: auto;
        width: max-content;
    }
}